body {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
}

.top {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    font-weight: bold;
    font-size: 110%;
}

.photo {
    width: 400px;
    height: 150px;
    text-align: center;
    align-items: center;
    border: 2px solid grey;
    background-color: grey;
}

h1, p {
    display: inline;
    margin: 0;
    padding: 0;
}

.parag p {
    font-size: small;
}

.parag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    gap: 8px;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 10%;
    width: 80px;
    height: 25px;
    border: solid #3882F6 1px;
}

.description {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
}